// This file has all the necesaary css for
// journals display & dashboard pages.

#add-journal-typeselect {
  margin-bottom: 2%;
  width: 50%;
}

.publication-nav > div > .dropdown-item {
  font-size: 14px;
}

.ajax-file-upload-filename {
  width: 100% !important;
  word-break: break-word !important;
}

.article_title_input_lg {
  width: 100%;
}

#article_author_input_tag {
  border: 1px solid #f7f7f7 !important;
  width: 100% !important;
}

#article_author_input,
#article_author_input_tagsinput {
  height: 50px !important;
  min-height: 50px !important;
}

#authors_input,
#authors_input_tagsinput,
#editors_input,
#editors_input_tagsinput {
  height: 150px !important;
  min-height: 50px !important;
}

div.tagsinput span.tag {
  background: #017bfe !important;
  border: 1px solid #f7f7f7 !important;
  color: #fff !important;
}

.input-foot-tags-parent {
  margin-top: 1%;
}

.input-foot-tags {
  background: #017bfe !important;
  border: 1px solid #f7f7f7 !important;
  color: #fff !important;
  font-family: helvetica;
  font-size: 15px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px;
  text-decoration: none;
}

.input-foot-tags > a,
div.tagsinput span.tag > a {
  color: #fff !important;
}

.input-foot-tags > button {
  background-color: #fff;
  border: 1px solid #22262a;
  margin-bottom: 2px;
  padding: 5px;
}

div.tagsinput {
  background: #fff;
  border: 1px solid #ccc;
  height: 100px;
  overflow-y: auto;
  padding: 5px;
  width: 300px;
}

div.tagsinput span.tag {
  background: #cde69c;
  border: 1px solid #a5d24a;
  color: #638421;
  float: left;
  font-family: helvetica;
  font-size: 13px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
  text-decoration: none;
}

div.tagsinput span.tag a {
  color: #82ad2b;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}

div.tagsinput input {
  background: transparent;
  color: #000;
  font-family: helvetica;
  font-size: 13px;
  margin: 0;
  margin-bottom: 5px;
  margin-right: 5px;
  outline: 0;
  padding: 5px;
  width: 80px;
}

div.tagsinput div {
  display: block;
  float: left;
}

.tags_clear {
  clear: both;
  height: 0;
  width: 100%;
}

.not_valid {
  background: #fbd8db !important;
  color: #90111a !important;
}

.ajax-file-upload-statusbar {
  border: 1px solid #a5a5c7;
  border-radius: 4px;
  margin: 0;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px 5px 5px 15px;
  width: 420px;
}

.ajax-file-upload-filename,
.ajax-file-upload-filename-c {
  font-size: 15px;
  height: auto;
  margin: 0 5px 5px 0;
  width: 300px;
}

.ajax-file-upload-filesize {
  display: inline-block;
  height: auto;
  margin: 0 5px 5px 0;
  vertical-align: middle;
  width: 50px;
}

.ajax-file-upload-progress {
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin: 5px 10px 5px 0;
  padding: 1px;
  position: relative;
  width: 250px;
}

.ajax-file-upload-bar {
  background-color: #017bfe;
  border-radius: 3px;
  color: #fff;
  height: 20px;
  width: 0;
}

.ajax-file-upload-percent {
  display: inline-block;
  left: 48%;
  position: absolute;
  top: 3px;
}

.ajax-file-upload-red {
  background-color: #e4685d;
  border-radius: 4px;
  box-shadow: inset 0 39px 0 -24px #e67a73;
  color: #fff;
  display: inline-block;
  font-family: arial;
  font-size: 13px;
  margin: 0;
  padding: 4px 15px;
  vertical-align: top;
}

.ajax-file-upload-green {
  background-color: #77b55a;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  margin: 5px 10px 5px 0;
  padding: 0;
  text-decoration: none;
  vertical-align: top;
}

.ajax-file-upload {
  background: #007bff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
  font-weight: 800 !important;
  height: 10% !important;
  line-height: 20px;
  margin-bottom: 5px;
  padding: 6px 10px 4px;
  vertical-align: middle;
}

.ajax-file-upload:hover {
  background: #3396c9;
  box-shadow: 0 2px 0 0 #15719f;
}

.ajax-upload-dragdrop {
  border: 2px dotted #a5a5c7;
  color: #dadce3;
  padding: 10px 10px 0;
  text-align: left;
  vertical-align: middle;
  width: 420px;
}

.state-hover {
  border: 2px solid #a5a5c7;
}

.ajax-file-upload-container {
  margin: 20px 0;
}

.ajax-upload-dragdrop > span > b {
  color: #747d83;
  font-size: 80%;
}

.ajax-file-upload-error {
  color: #d44c4c;
  font-size: 12px;
  margin: 5px;
}

.cuneiform {
  font-family: CuneiformComposite;
  font-size: 12pt;
}

.hi {
  padding-left: 22px;
  text-indent: -22px;
}

.i {
  padding-left: 22px;
}

table {
  border-collapse: collapse;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 0.0001pt;
  margin-left: 15pt;
  margin-right: 5pt;
  margin-top: 0;
}

sub {
  font-size: smaller;
  vertical-align: -2pt;
}

sup {
  font-size: smaller;
  vertical-align: 2pt;
}

#myProgress {
  background-color: #fff;
  width: 100%;
}

#myBar {
  background-color: #007bff;
  height: 5px;
  width: 1%;
}

.journals-view-table > tr > td > a {
  color: #1661ab;
}

#article_author_input_tag {
  border: 0 !important;
}

#showConvertHTMLButton {
  color: #007bff;
  display: none;
  margin-bottom: 20px;
  text-decoration: underline;
}

#CKAddedHeaderTable {
  display: none;
}

#modal-table {
  border-collapse: collapse;
  font-family: arial, sans-serif;
  font-size: 14px;
  width: 90%;
}

#modal-table-tr > td,
#modal-table-r > th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  width: 45%;
}

#modal-table-tr:nth-child(even) {
  background-color: #ddd;
}

.imgmgr-save-btn {
  background-color: #007bfd;
  border: 1px solid #fff;
  color: #fff;
}

.modal-push-image {
  margin-right: 5%;
  width: 20%;
}

.logs-p {
  color: #808080;
}

#articleEditDiv.boxed {
  padding: 2%;
}

#reConvertButton,
#closeHTMLPreviewButton,
#closePreviewButton,
#image_manager,
#bib_manager {
  width: 100%;
}

.ajax-file-upload-red {
  display: none !important;
}

.ajax-file-upload-red.ajax-file-upload-abort {
  display: inline-block !important;
}

#bib_table {
  margin: 0;
  width: 100%;
}

#bib_table > tbody > tr > td,
#bib_table > tbody > tr > th {
  border: 1px solid;
  width: 40%;
}

#bm_1 > tr > td {
  border: 1px solid;
  border-top: 0;
  width: 40%;
}

#bm_2 > tbody > tr > td {
  border: 1px solid;
  border-top: 0;
  width: 60%;
}

#bm_1 > tr > td {
  border-right: 0;
}

.bm_wr {
  display: flex;
  width: 100%;
}

#bm_1 {
  border: 1px solid;
  margin: 0;
  width: 40%;
}

#bm_2 {
  border: 1px solid;
  margin: 0;
  width: 60%;
}

#bm_2x {
  margin: 0;
}

#bm_2x > tr > td {
  border: 1px solid;
  width: 40%;
}

.ls_td1 {
  border: 1px solid #000;
  font-size: 12px;
  text-align: center;
  width: 40%;
}

.ls_td2 {
  border: 1px solid #000;
  font-size: 14px;
  text-align: center;
  width: 20%;
}

#link_status > tr > td {
  border: 1px solid #000;
  text-align: center;
}

#link_status > tr > td > button {
  background-color: #017bfe;
  border: 1px solid #808080;
  color: #fbf9f9;
  outline: none;
}

#link_status > tr > th {
  border: 1px solid #000;
  text-align: center;
}

#link_status {
  border: 1px solid;
  display: none;
  margin-left: 0;
  margin-top: 5%;
  width: 100%;
}
